---
layout: default
title: About 
---

a#home(href="/") alexyoung.org

.free
  h1 About

  p I'm a software engineer based in London, England.  I graduated in 2001 and have been working with web technology professionally since then.
  p I founded <a href="http://helicoid.net">Helicoid</a> as a limited company in 2006.  I've built 5 commercial Ruby on Rails web applications for Helicoid.  Each web app I build has a mobile interface, API, and some even have iPhone and Mac clients.

  h3 Writing

  p I've written for: <a href="http://www.netmag.co.uk/">Net Magazine</a>, <a href="http://linux.com">Linux.com</a>, <a href="http://thinkvitamin.com/">Think Vitamin</a>, and <a href="http://furthernoise.org">Furthernoise.org</a>.

  h3 Other Projects

  ul 
    li <a href="http://jschat.org/">JsChat</a> is a real time chat protocol with both console and web clients
    li <a href="http://github.com/alexyoung/ico">Ico</a> is an open source JavaScript graph library
    li <a href="http://tweetfu.com/">TweetFu</a> tracks trends on Twitter
    li <a href="http://github.com/alexyoung/">My GitHub</a> page has more open source projects I've created
  
  h3 Freelance

  p If you'd like consultation on a strong Ruby on Rails project, please drop me a line using my <a href="/contact.html">contact form</a>.
  
  h3 If You Know Me...

  p If you're an old friend and you're wondering why my site talks a lot about <em>rails</em>, <em>ruby</em> and <em>git</em> &mdash; don't worry, it's just technical stuff.  You can get in touch with my contact form and things will become clearer once we've caught up.

