---
layout: default
title: Work 
---

a#home(href="/") alexyoung.org

.free
  h1 Work

  p I've been running Helicoid Limited since 2006, which involves everything from marketing to design and development. I've also been working on Ruby on Rails contracts.

  p Full employment history is on my LinkedIn profile.

  h3 Reuters Real Estate

  img(src="/images/work/reutersrealestate.png")

  p I'm the lead developer and designer for <a href="http://www.reutersrealestate.com">Reuters Real Estate</a>.

  h3 Deadline

  img(src="/images/work/deadline.png")

  p <a href="http://deadlineapp.com">Deadline</a> tracks dates you need to remember through web, email, IM and SMS. It's a Rails app. I designed and built it, and created the icon and other graphics. There's also an iPhone app.

  h3 Helipad

  img(src="/images/work/helipad.png")

  p <a href="http://helipadapp.com">Helipad</a> is a web notepad.  I've built a Mac and iPhone client for it, and another developer has written a Ruby gem so it's easy to script.

  h3 Tiktrac

  img(src="/images/work/tiktrac.png")

  p <a href="http://tiktrac.com">Tiktrac</a> is a time tracking service.  It has a few unique features like email imports and really sophisticated reporting.

  h3 Loom

  img(src="/images/work/loom.png")

  p <a href="http://loomapp.com">Loom</a> is a helpdesk solution.  I've been using it to track bugs at Helicoid for years, and I'm currently working on open sourcing it.  It collects browser details when people submit bugs, so it helps fix design issues.  It also has a Rails plugin for exception tracking.

  h3 Ebiwrite

  img(src="/images/work/ebiwrite.png")

  p <a href="http://ebiwrite.com">Ebiwrite</a> was invented by my wife.  It's a translator's toolkit.  She used it to translate 37signals' book <a href="http://gettingreal.37signals.com/">Getting Real</a> into Japanese.

  h3 Furnish.co.uk

  img(src="/images/work/furnish.png")

  p <a href="http://furnish.co.uk/">Furnish</a> helps you find furniture across loads of suppliers and designers.  I've worked as a developer for Furnish, and done extensive work for their data import scraping system.

