/* Variables */
light = #fff
dark = #666
border-colour = #ccc
back = #f9f7f5
highlight = #cd0001
lighter = #777
panel-colour = #e5e3dc
panel-border-colour = #b3b1ac
lighter-panel = #f9f7f5

standard-font-size = 1.1em
header-font-size = 2em

reset()
  margin: 0
  padding: 0

/* Styles */
body
  font-family: Palatino, Georgia, "Times New Roman", serif;
  font-size: standard-font-size
  margin: 0 auto
  padding-bottom: 2em
  word-spacing: 0.1em
  background-color: back

h1, h2, h3, h4, p
  reset()

h1, h2, h3, h4
  font-size: header-font-size

h3
  font-size: 1.5em

h4
  font-size: 1em

h1, h2, h3, h4, h5, h6
  font-family: Helvetica, sans-serif
  padding: 20px 0 10px 0

article h2, article h3, article h4, article h5, article h6
  padding: 20px 0 0 0
  color: rgb(104, 102, 96)

article h1

article h1
  padding-top: 10px

a
  color: highlight
  text-decoration: none
  text-shadow: 0 1px 0 #fff

a:hover
  text-decoration: underline

blockquote
  reset()
  font-style: italic
  text-shadow: 0 1px 0 #fff
  color: #333

#container
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 40px 0 220px
  padding: 0
  min-width: 200px
  max-width: 1300px

#header
  margin: 10px 0 0 10px
  padding-bottom: 5px

a#home
  background: transparent url('https://s2.googleusercontent.com/s2/favicons?domain=alexyoung.org') 0 center no-repeat
  padding-left: 24px

article
  reset()
  padding: 0 10px
  line-height: 1.5em

article header
  margin-bottom: 10px

article header h1
  margin: 0 0 5px 0
  font-size: header-font-size
  border-bottom: 2px solid border-colour
  padding-bottom: 5px

article header h1 a
  text-decoration: none
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  color: #000

article p, article blockquote, article pre
  padding: 10px 0

article time, article .author, article .tags
  display: inline
  margin: 0 0 0 5px
  font-size: small
  text-transform: uppercase
  font-family: Palatino, Georgia, "Times New Roman", serif
  color: lighter
  text-shadow: 0 1px 0 #fff

.tags
  border-left: 2px solid border-colour
  padding-left: 5px

.tags a
  text-decoration: none
  color: lighter

.tags a:hover
  text-decoration: underline

.tag-list h2
  margin: 10px 0

.tag-list .posts
  display: none

#content
  float: left
  clear: right
  margin: 10px auto

.carbonad
  border: 1px solid panel-border-colour !important

nav.panel
  height: 100%
  background-color: panel-colour
  background-image: url('/images/texture.png')
  box-shadow: inset -2px 0 3px #d6d2cd
  border-right: 1px solid panel-border-colour
  position: fixed
  width: 200px
  left: 0
  padding-top: 13px

nav.panel p
  margin: 10px 10px 20px 10px
  
nav.panel ul
  margin: 10px 0
  padding: 0 0 0 25px

nav.panel h2
  color: #fff
  padding: 3px 5px

.prev_next
  margin: 0 0 10px 0

.prev-next .previous
  padding-left: 10px

.prev_next .page, .prev_next .next
  padding: 3px 5px
  margin: 5px
  text-shadow: 0 1px 0 #fff

footer
  float: left
  clear: both
  width: 100%
  margin: 40px 0 0 0
  padding: 20px 0
  border-top: 2px solid border-colour

footer p
  font-size: small
  text-align: right
  text-shadow: 0 1px 0 #fff

.intro
  font-style: italic

#sidebar
  list-style-type: none
  reset()

#sidebar li
  margin: 0
  padding: 10px 10px 10px 25px

#sidebar .link a span
  padding: 0 0 0 10px
  vertical-align: middle

#sidebar .link img
  vertical-align: middle
  margin: 0
  padding: 4px
  border: 1px solid panel-border-colour
  background-color: lighter-panel

#sidebar p
  reset()

.pages
  clear: both
  float: left
  padding: 10px 0
  text-align: center
  width: 100%

.free p
  padding: 10px 0

.free h1
  padding-bottom: 5px
  margin-bottom: 5px
  border-bottom: 2px solid border-colour

blockquote
  margin: 10px 0

blockquote p
  reset()

blockquote .source
  display: block
  reset()
  margin-top: 10px
