panel-border-colour = #b3b1ac

nav.panel
  position: static
  float: left
  margin: 0
  border-bottom: 1px solid panel-border-colour

#content
  width: 600px
  margin-left: 20px

#container
  margin: 0
