!!! 5
html(lang="en")
  head
    title #{post.title}
    meta(charset="utf-8")
    link(href="/stylesheets/screen.css", media="screen", rel="stylesheet", type="text/css")
    link(href="/javascripts/google-code-prettify/prettify.css", media="screen", rel="stylesheet", type="text/css")
    link(href="/stylesheets/small.css", media="only screen and (max-device-width: 480px)", rel="stylesheet", type="text/css")
    link(rel="alternate", type="application/rss+xml", title="RSS 2.0", href="/feed.rss")
    link(rel="alternate", type="application/atom+xml", title="Atom Feed", href="/feed.xml")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(type="text/javascript", src="/javascripts/google-code-prettify/prettify.js")
    script(type="text/javascript", src="/javascripts/site.js")
    script(type="text/javascript")
      var _sf_startpt=(new Date()).getTime()
  body
    #container
      nav.panel
        !{include('sidebar')}
      section#content
        header#header
          hgroup
            a#home(href="/") &larr; Home
        !{hNews(post)}
        !{disqus(post, 'alexyoung')}
      footer
        p.copyright &copy; Alex R. Young | <a href="/contact.html">Contact</a> | <a href="http://popjs.com">Generated with Pop</a> | <a href="/cookies.html">Cookies and Privacy</a>
    script(type="text/javascript")
      var _sf_async_config = { uid: 39178, domain: 'alexyoung.org' };
      (function() {
        function loadChartbeat() {
          window._sf_endpt = (new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src',
            (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
            "js/chartbeat.js");
          document.body.appendChild(e);
        };
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
          loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
