!!! 5
html(lang="en")
  head
    title #{post.title}
    link(href="/stylesheets/screen.css", media="screen", rel="stylesheet", type="text/css")
    link(rel="alternate", type="application/rss+xml", title="RSS 2.0", href="/feed.rss")
    link(rel="alternate", type="application/atom+xml", title="Atom Feed", href="/feed.xml")
  body
    #container
      nav.panel
        !{include('sidebar')}
      section#content
        header#header
          hgroup
            a(href="/") alexyoung.org
        !{hNews(post)}
      footer
        p.copyright &copy; Alex R. Young
