!!! 5
html(lang="en")
  head
    title #{post.title}
    meta(charset="utf-8")
    link(href="/stylesheets/screen.css", media="screen", rel="stylesheet", type="text/css")
    link(href="/javascripts/google-code-prettify/prettify.css", media="screen", rel="stylesheet", type="text/css")
    link(href="/stylesheets/small.css", media="only screen and (max-device-width: 480px)", rel="stylesheet", type="text/css")
    link(rel="alternate", type="application/rss+xml", title="RSS 2.0", href="/feed.rss")
    link(rel="alternate", type="application/atom+xml", title="Atom Feed", href="/feed.xml")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(type="text/javascript", src="/javascripts/google-code-prettify/prettify.js")
    script(type="text/javascript", src="/javascripts/site.js")
  body
    #container
      nav.panel
        !{include('sidebar')}
      section#content
        header#header
          hgroup
            a#home(href="/") alexyoung.org
        !{hNews(post)}
        !{disqus(post, 'alexyoung')}
      footer
        p.copyright &copy; Alex R. Young | <a href="/contact.html">Contact</a> | <a href="http://popjs.com">Generated with Pop</a> | <a href="/cookies.html">Cookies and Privacy</a>
